<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .nav { margin: 40px;}
            .error { color: red; margin-left: 60px;}
            .info {color: green; margin-left: 60px;}
            h1 { margin-left: 120px;}
            h2 { margin: 30px; color: blueviolet;}
            p, form { margin-left: 20px;}
            #submit { margin: 40px;}
            .by { font-size: 10px;}
        
        </style>
    </head>
<body>
    <a class='nav' href='/'>Main Page</a>
    <a class='nav' href='/newpost'>Make a New Entry</a>
    <a class='nav' href='/allposts'>All Blogz Posts</a>
    <a class='nav' href='/login'>Log In</a>
    <a class='nav' href='/logout'>Log Out</a>

    {% block content %}
    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% for category,message in messages %}
        <h3 class='{{category}}'>{{message}}</h3>
    {% endfor %}
    {% endwith %}

</body>
</html>